<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.convergencelab.smartdrone">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_sd"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_sd_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".templatecreator.TemplateCreatorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".drone.DroneActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AboutActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".templatecreator.TemplateCreatorActivityOld"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DroneSoundActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DroneSettingsActivity"
            android:label="Settings"
            android:parentActivityName=".DroneActivityOld"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.convergencelab.smartdrone.DroneActivityOld" />
        </activity>
        <activity
            android:name=".DroneActivityOld"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".soundsettings.SoundSettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>