<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.convergencelab.smartdrone">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_sd"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_sd_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.convergencelab.smartdrone.AboutActivity" />
        <activity
            android:name="com.convergencelab.smartdrone.SplashScreenActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.convergencelab.smartdrone.VoicingCreatorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.convergencelab.smartdrone.DroneSoundActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.convergencelab.smartdrone.DroneSettingsActivity"
            android:label="Settings"
            android:parentActivityName="com.convergencelab.smartdrone.DroneActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.convergencelab.smartdrone.DroneActivity" />
        </activity>
        <activity
            android:name="com.convergencelab.smartdrone.DroneActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
    </application>

</manifest>