<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartdrone">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <!-- Voicing Creator Activity -->
        <activity
            android:name=".VoicingCreatorActivity"
            android:screenOrientation="portrait" >
        </activity>

        <!-- Drone Sound Settings Activity -->
        <activity
            android:name=".DroneSoundActivity"
            android:screenOrientation="portrait" >
        </activity>

        <!-- Drone Performance Settings Activity -->
        <activity
            android:name=".DroneSettingsActivity"
            android:label="Settings"
            android:parentActivityName=".DroneActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DroneActivity" />
        </activity>

        <!-- Main Drone Activity Activity -->
        <activity
            android:name=".DroneActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>